.tHead{
    background-color: #00BFFF;
    color: white;
}

.inputArea{
   
    padding-top: 1%;
    border-radius: 0px;
    border-style: solid;
    border-color: rgb(160, 158, 158);
    margin-top: 7px;
    font-size: large;
}

.add_btn{
    background-color: #d4bd39;
    border-radius: 5px;
    border-style: none;
    float: right;
    margin-right: 15px;
    width: 100px;
    height: 32px;
    color:white;
}

.next_btn{
    float: right;
    border-radius: 5px;
    border-style: none;
    height: 32px;
    background-color: darkgray;
    color: white;
}

.exam_sumbit{
    float: right;
    margin-top:20px;
    background-color: #d4bd39;
    color: aliceblue;
    width:100px;
    height: 40px;
}